<div class="alert alert-warning" *ngIf="dataUpdated && updateType=='edit'">Location updated</div>
<div class="alert alert-danger" *ngIf="updateType=='delete'"><b> {{ locationToBeDeleted.itemAmount }}</b> item types and a total of <b> {{ locationToBeDeleted.totalItemAmount }}</b> items will be deleted. Are you Sure?<br /><br />
  <button type="button" value="x" (click)="locationToBeDeleted=null;updateType='add'" class="btn btn-outline-danger">Cancel</button>
  <button type="button" value="x" (click)="delete(locationToBeDeleted)" class="btn btn-danger">Delete location <i>"{{ locationToBeDeleted.name }}"</i></button></div>
<div class="alert alert-warning" *ngIf="updateType=='deleted'">Location deleted</div>
<div class="alert alert-success" *ngIf="dataUpdated && updateType=='add'">Location added</div>
<div class="card">
  <div class="table-responsive table-hover table-sm">
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr class="d-flex">
        <th scope="col" class="align-middle col-1">#</th>
        <th scope="col" class="align-middle col-3">Name</th>
        <th scope="col" class="align-middle col-3">Description</th>
        <th scope="col" class="text-center align-middle col-1">Items</th>
        <th scope="col" class="d-print-none  col-4"></th>
      </tr>
      <tr>
        <td class="col-1">
          <app-location-form (updateType)="getUpdateType($event)" (dataUpdated)="getOutput($event)" [itemLocation]="locationEdited" [showSuccess]="false"></app-location-form>
        </td>
      </tr>
      </thead>
      <tbody>

      <tr class="d-flex align-middle " *ngFor="let location of locations">
        <td class="align-middle  col-1">{{ location.locationId }}</td>
        <td class="align-middle bg-light  col-3"><b>{{ location.name }}</b></td>
        <td class="align-middle  col-3">{{ location.description }}</td>
        <td class="align-middle text-center col-1">
          <span class="badge badge-primary ">{{ location.itemAmount }} types</span>
          <span class="badge  badge-secondary">{{ location.totalItemAmount }} items</span>
        </td>
        <td class="text-center  d-print-none col-4"><a href="{{ labels.get(location.locationId) }}" download><button type="button" value="x" class="btn btn-dark"><i class="bi bi-qr-code"></i></button></a>
          <button type="button" value="x" [routerLink]="[ '/items/',location.locationId]" class="btn btn-primary"><i class="bi bi-folder2-open"></i></button>
          <button type="button" value="x" (click)="locationEdited = location; dataUpdated = false; updateType = 'edit'" class="btn btn-warning"><i class="bi bi-pencil-square"></i></button>
          <button type="button" value="x" (click)="promptDelete(location)" class="btn btn-danger"><i class="bi bi-x-circle-fill"></i></button></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

